<div class="written">
  <p>
  RefHeap is a pastebin website that is written and designed by
  <a href="https://github.com/Raynes">Anthony Grimes</a> and
  <a href="https://github.com/amcnamara">Alex McNamara</a>. The project
  began in late 2011 and was launched in early 2012.
  </p>
  <p>
  RefHeap was created for several reasons:
  <ul>
    <li>We aren't entirely satisfied with existing pastebins</li>
    <li>We want to experiment with cool features that other pastebins may or
        may not have.</li>
    <li>We want to implement gist-like revision and forking features without using Git
        for paste storage.</li>
    <li>We wanted to write a pastebin with a focus on Clojure. A pastebin written
        in Clojure for Clojure. Using Pygments for syntax highlighting means we can
        also support a very large number of languages besides Clojure as well.</li>
  </ul>
  Another motivation is to gain experience writing a non-trivial website in Clojure.
  </p>
  <p>
  RefHeap uses a number of technologies. First and foremost, it uses Pygments for
  syntax highlighting. Yes, we could have reinvented the wheel and rolled our own
  pygments-like for Clojure, but we would have ended up with an ultimately less stable
  tool that we would be forced to maintain and that would have support for a 
  significantly smaller number of languages for quite a while. Pygments is an excellent
  tool and the author has been nothing but open to my contributions to improve its
  Clojure support. I think Pygments was a fine choice.
  </p>
  <p>
  RefHeap is constantly in development. There are numerous issues on our
  <a href="https://github.com/Raynes/refheap/issues">issue tracker</a> and
  the majority of them are planned features. We are ambitious but we are also
  small. We are currently a core team of two with other responsibilities, so any
  help is certainly appreciated. One of the greatest things about RefHeap is that
  it is open source. If you want something to be added or changed, you've got a solid
  shot at making that happen.
  </p>
  <p>
  Why should you use RefHeap? It has a nice color scheme (based off of 
  <a href="https://github.com/chriskempson/Tomorrow-Theme">Tomorrow Night Bright</a>)
  that is often tweaked to look prettier, support for a ton of languages, is open
  source and very easy to contribute to, has a simple API with libraries in Clojure
  and Ruby, editor support for both Vim and Emacs, a Ruby gem for pasting from the
  command-line, and an ambitious team with cool plans for its future.
  </p>
</div>

