<body>
   <div id="site-container">
     <div id="header">
       <a id="site" href="/paste">The Reference Heap</a>
       <div class="headerlinks">
         <div id="starting">
           <ul class="spacedlist">
             <li><a href="/pastes">Recent Pastes</a></li>
             <li><a href="/api">API</a></li>
             <li id="last"><a href="/about">About</a></li>        
           </ul>
         </div>
         <div id="useri">
         </div>
     </div>
     </div>
     <div id="content">
       <div id="container" class="clearfix">
       </div>
       <div id="footer">
         <p class="centered">
         <a href="https://github.com/Raynes/refheap">RefHeap</a> is powered by
         <a href="http://clojure.org">Clojure</a>, <a href="https://github.com/weavejester/compojure">Compojure</a>,
         <a href="http://mongodb.org">MongoDB</a>, and <a href="http://pygments.org">Pygments</a>.
         Please read our <a href="/legal/tos">terms of service</a> and
         <a href="/legal/privacy">privacy policy</a>.
       </div>
     </div>
   </div>
   <div id="help-bubble-tray">
     <div id="help-dialog">
       <h3>
         Did you know?
         <span>CLOSE</span>
       </h3>
       <div>
         <ul>
           <li class="help-subject">
             There are keyboard shortcuts!
             <ul>
               <li class="help-title">When Creating A Paste</li>
               <li>
                 <ul>
                   <li class="help-line">
                     <span class="hotkey">ALT+P</span>
                     Toggle Private
                   </li>
                   <li class="help-line">
                     <span class="hotkey">CTRL+Enter</span> 
                     Create Paste
                   </li>
                   <li class="help-line">
                     <span class="hotkey">ALT+W</span>
                     Toggle word wrap
                   </li>
                 </ul>
               </li>
               <li class="help-title">When Viewing A Paste</li>
               <li>
                 <ul>
                   <li class="help-line">
                     <span class="hotkey">ALT+G</span>
                     Go to a line
                   </li>
                   <li class="help-line">
                     <span class="hotkey">ALT+CTRL+E</span>
                     Edit the paste
                   </li>
                   <li class="help-line">
                     <span class="hotkey">ALT+R</span>
                     Show the raw code
                   </li>
                 </ul>
               </li>
             </ul>
           </li>
           <li class="help-subject">
             There are URL options!
             <ul>
               <li class="help-title">
                 When Creating A Paste
               </li>
               <li>
                 <ul>
                   <li class="help-line">
                     ?lang=Javascript to default to javascript
                   </li>
                 </ul>
               </li>
               <li class="help-title">When Viewing A Paste</li>
               <li>
                 <ul>
                   <li class="help-line">#L-N Jump to line number N</li>
                 </ul>
               </li>
             </ul>
           </li>
         </ul>
       </div>
     </div>   
     <span id="help-bubble">?</span>
   </div>
 </body>
