<!DOCTYPE html>
<html>
  <head>
    {{> refheap/views/templates/head}}
  </head>

 <body>
   <div id="site-container">
     <div id="header">
       <a id="site" href="/paste">The Reference Heap</a>
       <div class="headerlinks">
         <div id="starting">
           <ul class="spacedlist">
             <li><a href="/pastes">Latest</a></li>
             <li><a href="/api">API</a></li>
             <li id="last"><a href="/about">About</a></li>
           </ul>
         </div>
         <div id="useri">
           {{{user}}}
         </div>
     </div>
     </div>
     <div id="content">
       <div id="container" class="clearfix">
         {{{content}}}
       </div>
       <div id="footer">
         <p class="centered">
         <a href="https://github.com/Raynes/refheap">RefHeap</a> is powered by
         <a href="http://clojure.org">Clojure</a>, <a href="http://webnoir.org">Noir</a>,
         <a href="http://mongodb.org">MongoDB</a>, and <a href="http://pygments.org">Pygments</a>.
         Please read our <a href="/legal/tos">terms of service</a> and
         <a href="/legal/privacy">privacy policy</a>.
       </div>
     </div>
   </div>
 </body>
</html>
