<div id="login">
  {{#error}}
  <p class="error">{{message}}</p>
  {{/error}}
  <form action="/user/create" method="post">
    <p>You're almost there! Just enter a username and you'll be on your way.</p>
    <input type="text" name="name" />
    <input type="submit" value="submit">
  </form>
</div>
