{{#user}}
<a id="userbutton" href="/users/{{username}}">{{username}}</a>
<a href="/user/logout">logout</a>
{{/user}}
{{^user}}
<img id="signin" class="imgbutton" src="/img/browserid.png" alt="BrowserID">
{{/user}}
