<div class="centered">
  {{#newer}}
  <a id="newer" class="pagebutton" href="{{base}}?page={{page}}">newer</a>
  {{/newer}}
  {{#older}}
  <a class="pagebutton" href="{{base}}?page={{page}}">older</a>
  {{/older}}
</div>
