<div id="main-container">
  <div id="paste-container">
    <form name="paste" action="" method="post">
      <div id="paste-header">
        <select id="language" name="language">
          <option value=""></option>
          <option selected value=""></option>
        </select>
        <input name="private" type="checkbox" id="private"/>
        <label for="private">
          Private:
          <div id="private-toggle">
            <div></div>
            <span>No</span>
            <span>Yes</span>
          </div>
        </label>
        <input id="submit-button" value="" type="submit" />
      </div>
      <textarea name="paste" id="paste"></textarea>
    </form>
  </div>
</div>
