<div class="floater clearfix">
  <div class="clearfix" id="pasteinfo">
    <ul class="spacedlist" id="infolist">
      <li id="language"></li>
      <li><abbr title="lines in this paste: "></abbr></li>
      <li class="private">Private</li>
      <li id="last">
      </li>
    </ul>
    <div id="edit">
      <a id="embed">embed</a>
      <a id="raw">raw</a>
      <a id="fullscreen">maximize</a> 
      <span id="owner">
        <a id="edit">edit</a>
        <a id="delete" class="evil">delete</a>
      </span>
      <a id="fork">fork</a>
    </div>
  </div>
  <div id="paste" class="syntax">
  </div>
</div>
