<div id="preview-container">
  {{#pastes}}
  <div class="preview-header">
    {{{header}}}
    <div class="syntax">
      {{{summary}}}
      {{#more}}
      <a class="more" href="/paste/{{id}}">more...</a>
      {{/more}}
    </div>
    <br />
  </div>
  {{/pastes}}
</div>
