<div class="written">
  <p class="header">Privacy Policy</p>
  <p>
  Internet use and communication is subject to attack, interception, loss and
  alteration. On whichever site you provide personal information, it is possible
  for a third party to view or later retrieve and/or modify that information.
  You acknowledge and agree that RefHeap, its maintainers, owners, and/or
  employees shall not be responsible for any damages you may suffer as a result
  of the transmission or storage of confidential or sensitive information
  communicated over the Internet or otherwise, and that all such communications
  will be at your own risk. Furthermore, RefHeap shall not be liable for
  maintaining the confidentiality of any communications between RefHeap’s
  representatives, affiliates, partners, users, or customers.
  </p>
</div>
