<script src="/js/jquery.hotkeys/jquery.hotkeys.js" type="text/javascript"></script>
<script src="/js/pastes.js" type="text/javascript"></script>
<link href="/css/tomorrow-night.css" rel="stylesheet" type="text/css" />
