<div class="written">
  <p class="header">Terms of Service</p>
  <p>
  Under no circumstances, including, but not limited to, negligence, shall
  RefHeap or its affiliates be liable to you for any damages of any kind
  (including, but not limited to, compensatory damages, lost profits, lost
  data or any form of special, incidental, indirect, consequential or punitive
  damages whether based on breach of contract or warranty, tort, product
  liability or otherwise) that result from the use of, or the inability to
  use, this site or RefHeap’s products or services. You specifically
  acknowledge and agree that RefHeap is not liable for any defamatory,
  offensive or illegal conduct of any user, customer, or representative.
  If you are dissatisfied with any material or content on RefHeap’s web site,
  products, external communications, services, or with any of RefHeap’s terms
  and conditions, your sole and exclusive remedy is to discontinue using
  RefHeap and its web sites, products, and services. 
  </p>
</div>
