<div id="user">
  <img src="{{gravatar}}" alt="gravatar" />
  <br />
  {{#user}}
  {{user}} has
  {{/user}}
  {{^user}}
  You have
  {{/user}}
  {{public-count}} public
  {{#private}}
  and {{private-count}} private
  {{/private}}
  pastes.
</div>
{{> refheap/views/templates/all}}
