[submodule "resources/public/js/codemirror"]
	path = resources/public/js/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "resources/public/js/mousetrap"]
	path = resources/public/js/mousetrap
	url = git://github.com/ccampbell/mousetrap.git
