.refheap {
    font-family: 'Open Sans', sans-serif;
    color: #DDD;
}

.refheap div.markdown {
    padding: 8px;
}

.refheap a {
    color: #A2B943;
    text-decoration: none;
}

.refheap pre.md-code {
    width: 700px;
    overflow: auto;
    border: solid #2E2E2E 3px;
    padding: 8px;
}

.refheap pre,code {
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    line-height: 1.4em;
    font-size: 12px;
}

.refheap code {
    color: #A786D8;
}

.linenos div {
    color: gray;
    margin-right: 10px;
}
.linenos a {
    color: gray;
    text-decoration: none;
}
.refheap .hll { background-color: #373b41 }
.refheap  { background: #1d1f21; color: #c5c8c6 }
.refheap .c { color: #969896 } /* Comment */
.refheap .k { color: #b294bb } /* Keyword */
.refheap .cm { color: #969896 } /* Comment.Multiline */
.refheap .cp { color: #969896 } /* Comment.Preproc */
.refheap .c1 { color: #969896 } /* Comment.Single */
.refheap .cs { color: #969896 } /* Comment.Special */
.refheap .gd { color: #cc6666 } /* Generic.Deleted */
.refheap .gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
.refheap .gi { color: #b5bd68 } /* Generic.Inserted */
.refheap .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
.refheap .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
.refheap .kc { color: #b294bb } /* Keyword.Constant */
.refheap .kd { color: #b294bb } /* Keyword.Declaration */
.refheap .kn { color: #b294bb } /* Keyword.Namespace */
.refheap .kp { color: #b294bb } /* Keyword.Pseudo */
.refheap .kr { color: #b294bb } /* Keyword.Reserved */
.refheap .kt { color: #f0c674 } /* Keyword.Type */
.refheap .s { color: #b5bd68 } /* Literal.String */
.refheap .nb { color: #cc6666 } /* Name.Builtin */
.refheap .nc { color: #f0c674 } /* Name.Class */
.refheap .no { color: #b5bd68 } /* Name.Constant */
.refheap .nd { color: #8abeb7 } /* Name.Decorator */
.refheap .ne { color: #cc6666 } /* Name.Exception */
.refheap .nf { color: #81a2be } /* Name.Function */
.refheap .nn { color: #f0c674 } /* Name.Namespace */
.refheap .nt { color: #81a2be } /* Name.Tag */
.refheap .w { color: #c5c8c6 } /* Text.Whitespace */
.refheap .sb { color: #b5bd68 } /* Literal.String.Backtick */
.refheap .sc { color: #c5c8c6 } /* Literal.String.Char */
.refheap .sd { color: #b5bd68 } /* Literal.String.Doc */
.refheap .s2 { color: #b5bd68 } /* Literal.String.Double */
.refheap .se { color: #b5bd68 } /* Literal.String.Escape */
.refheap .sh { color: #b5bd68 } /* Literal.String.Heredoc */
.refheap .si { color: #b5bd68 } /* Literal.String.Interpol */
.refheap .sx { color: #b5bd68 } /* Literal.String.Other */
.refheap .sr { color: #b5bd68 } /* Literal.String.Regex */
.refheap .s1 { color: #b5bd68 } /* Literal.String.Single */
.refheap .ss { color: #b5bd68 } /* Literal.String.Symbol */
.refheap .bp { color: #cc6666 } /* Name.Builtin.Pseudo */
.refheap .vi { color: #cc6666 } /* Name.Variable.Instance */

div.refheap {
    overflow: auto;
}

div#refh-12 {
    width: 30%;
    height: 40%;
}

.hide-lines td.linenos {
    display: none
}

.hide-lines div.highlight {
    margin: 8px 0 8px 8px;
}