div#site-container {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 800px;
    width: 100%;
    overflow: auto;
    background-color: #2E2E2E;
}

body {
    background-color: #2E2E2E; 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #DDD;
}

a {
    color: #A2B943;
    text-decoration: none;
}

div#header {
    padding: 10px 0px 10px 15px;
    overflow: hidden;
    min-width: 700px;
}

a#site {
    color: #FFE93B;
    font-size: 33px;
    float: left;
    margin-right: 40px;
    text-decoration: none;
}

a#site:active { text-decoration: none; }

div.headerlinks {
    margin-top: 10px;
    padding-right: 10px;
    float: right;
}

.headerlinks #signin {
    margin-top: 3px;
}

.headerlinks a {
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
}

div#useri {
    padding-left: 10px;
    border-left: 1px solid #DDD;
    float: right;
}

#user div {
    font-size: 13px;
}

a#logout {
    margin-left: 7px;
}

.imgbutton {
    cursor: pointer;
}

div#content {
    width: 100%;
}

div#container {
    padding: 6px 10px 10px 13px;
    background-color: #434E48;
    width: initial;
}

div#main-container {
    clear: both;
    float: left;
    width: 100%;
}

div#main-right {
    max-width: 345px;
    width: 27%;
    padding-right: 10px;
    background-color: transparent;
    height: 507px;
    border: 2px solid #2E2E2E;
    float: right;
    margin-right: 2px;
    margin-top: 41px;
    overflow: auto;
}

div#main-right ul li {
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 15px;
}

div#main-right p {
    font-size: 15px;
    padding: 10px 20px 0 30px;
}

div#paste-container {
    max-width: 879px;
    width: 70%;
    background: transparent;
    height: 555px;
    overflow: hidden;
    float: left;
    border: none;
}

div#paste-header {
    width: 100%;
    float: left;
    overflow: visible;
}

div#paste-container textarea {
    float: left;
    clear: left;
    width: 100%;
    margin: 0px;
    background-color: #DDD;
    height: 510px;
    /* Dear world: stop using fucking prefixes. */
    -moz-box-sizing: border-box; /* Render properly on  Firefox */
    -ms-box-sizing: border-box; /* Look at me, all tryin' to support IE8 and such. */ 
    -webkit-box-sizing: border-box; /* Render properly on popular Android browsers. */
    border: border-box;
}

#pastearea form {
    margin-bottom: 0;
}

.clear {
    clear: both;
}

div#paste-header input[type="submit"] {
    -webkit-appearance: default-button;
    cursor: pointer;
    float: right;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 7px;
    margin-right: 0px;
    border: 2px solid #2E2E2E;
    background-color: #cfcfcf;
    color: #2E2E2E;
    border-radius: 5px;
}

div#paste-header input[type="checkbox"]{
    margin-left: 15px;
    float: left;
    margin-top: 13px;
}

div#paste-header label {
    float: left;
    padding-top: 1px;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 15px;
}

div#paste-header select {
    float: left;
    font-size: 14px;
    background: #CCC;
    margin-top: 2px;
    width: 150px;
    border: 2px solid #2E2E2E;
    border-image: initial;
    height: 32px;
    padding: 4px;
    color: #2E2E2E;
}

div#footer {
    width: initial;
    color: #A2B943;
    font-size: 13px;
}

.centered {
    width: 100%;
    text-align: center;
    font-size: 10px;
}

#footer a {
    text-decoration: underline;
}

div.written {
    padding: 20px 45px;
}

.written a {
    font-weight: bold;
}

.syntax {
    border: 2px solid #2e2e2e;
    overflow-x: auto;
    border-radius: 4px;
}

div#pasteinfo {
    margin-bottom: 4px;
    font-size: 11px;
}

.info {
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-right: solid 1px black;
}

.private {
    color: #22aa22;
}

span#last {
    border-right: none;
}

div.floater {
    float: left;
    width: 100%;
    overflow: hidden;
}

.linenos div {
    color: gray;
    margin-right: 10px;
}

.linenodiv a {
    text-decoration: none;
    color: gray;
}

div#login {
    margin: auto;
    width: 525px;
    text-align: center;
}

.error {
    color: #CF0000;
    font-weight: bold;
    text-align: center;
}

a#newer {
    margin-right: 10px;
}

.pagebutton {
    background-color: #E8F2FF;
    padding: 1px 4px 1px 4px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 15px;
}

div#edit {
    float: right;
    padding: 
}

#edit a {
    padding-right: 7px;
}

.evil {
    color: #CF0000;
}

.header {
    font-size: 14px;
}