.syntax .hll { background-color: #222222 }
.syntax  { background: #000000; color: #cccccc }
.syntax .c { color: #000080 } /* Comment */
.syntax .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.syntax .g { color: #cccccc } /* Generic */
.syntax .k { color: #cdcd00 } /* Keyword */
.syntax .l { color: #cccccc } /* Literal */
.syntax .n { color: #cccccc } /* Name */
.syntax .o { color: #3399cc } /* Operator */
.syntax .x { color: #cccccc } /* Other */
.syntax .p { color: #cccccc } /* Punctuation */
.syntax .cm { color: #000080 } /* Comment.Multiline */
.syntax .cp { color: #000080 } /* Comment.Preproc */
.syntax .c1 { color: #000080 } /* Comment.Single */
.syntax .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.syntax .gd { color: #cd0000 } /* Generic.Deleted */
.syntax .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.syntax .gr { color: #FF0000 } /* Generic.Error */
.syntax .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #00cd00 } /* Generic.Inserted */
.syntax .go { color: #808080 } /* Generic.Output */
.syntax .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.syntax .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax .gt { color: #0040D0 } /* Generic.Traceback */
.syntax .kc { color: #cdcd00 } /* Keyword.Constant */
.syntax .kd { color: #00cd00 } /* Keyword.Declaration */
.syntax .kn { color: #cd00cd } /* Keyword.Namespace */
.syntax .kp { color: #cdcd00 } /* Keyword.Pseudo */
.syntax .kr { color: #cdcd00 } /* Keyword.Reserved */
.syntax .kt { color: #00cd00 } /* Keyword.Type */
.syntax .ld { color: #cccccc } /* Literal.Date */
.syntax .m { color: #cd00cd } /* Literal.Number */
.syntax .s { color: #cd0000 } /* Literal.String */
.syntax .na { color: #cccccc } /* Name.Attribute */
.syntax .nb { color: #cd00cd } /* Name.Builtin */
.syntax .nc { color: #00cdcd } /* Name.Class */
.syntax .no { color: #cccccc } /* Name.Constant */
.syntax .nd { color: #cccccc } /* Name.Decorator */
.syntax .ni { color: #cccccc } /* Name.Entity */
.syntax .ne { color: #666699; font-weight: bold } /* Name.Exception */
.syntax .nf { color: #cccccc } /* Name.Function */
.syntax .nl { color: #cccccc } /* Name.Label */
.syntax .nn { color: #cccccc } /* Name.Namespace */
.syntax .nx { color: #cccccc } /* Name.Other */
.syntax .py { color: #cccccc } /* Name.Property */
.syntax .nt { color: #cccccc } /* Name.Tag */
.syntax .nv { color: #00cdcd } /* Name.Variable */
.syntax .ow { color: #cdcd00 } /* Operator.Word */
.syntax .w { color: #cccccc } /* Text.Whitespace */
.syntax .mf { color: #cd00cd } /* Literal.Number.Float */
.syntax .mh { color: #cd00cd } /* Literal.Number.Hex */
.syntax .mi { color: #cd00cd } /* Literal.Number.Integer */
.syntax .mo { color: #cd00cd } /* Literal.Number.Oct */
.syntax .sb { color: #cd0000 } /* Literal.String.Backtick */
.syntax .sc { color: #cd0000 } /* Literal.String.Char */
.syntax .sd { color: #cd0000 } /* Literal.String.Doc */
.syntax .s2 { color: #cd0000 } /* Literal.String.Double */
.syntax .se { color: #cd0000 } /* Literal.String.Escape */
.syntax .sh { color: #cd0000 } /* Literal.String.Heredoc */
.syntax .si { color: #cd0000 } /* Literal.String.Interpol */
.syntax .sx { color: #cd0000 } /* Literal.String.Other */
.syntax .sr { color: #cd0000 } /* Literal.String.Regex */
.syntax .s1 { color: #cd0000 } /* Literal.String.Single */
.syntax .ss { color: #cd0000 } /* Literal.String.Symbol */
.syntax .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.syntax .vc { color: #00cdcd } /* Name.Variable.Class */
.syntax .vg { color: #00cdcd } /* Name.Variable.Global */
.syntax .vi { color: #00cdcd } /* Name.Variable.Instance */
.syntax .il { color: #cd00cd } /* Literal.Number.Integer.Long */
